<section></section>

<section id="home2">
  <div class="container-fluid">
    <div class="row" style="margin-top: 50px">
      <div class="d-inline col-sm-3 offset-2" style="font-size: 1.5em">
        <h2>Olympic games app</h2>
      </div>
    </div>
  </div>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p>
<p *ngFor="let olympic of olympics$ | async">{{olympic.country}} </p>


  <button pButton pRipple label="New" icon="pi pi-plus" class="p-button mr-2" ></button>
  <div class="card flex justify-content-center">
    <p-chart type="pie" [data]="data" [options]="options" />
  </div>
</section>

