 <div class="container-fluid">
    <div class="row" style="margin-top: 50px">
      <div class="d-inline col-sm-3 offset-2" style="font-size: 1.5em">
        <h2>Olympic games app</h2>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row" style="margin-top: 50px">
    <div>
      <p>Medals per country</p>
    </div>
  </div>
  <span type="button" class="button" (click)="navigateToCountry()">Détails</span>
  <div class="row" style="margin-top: 50px">
    <div class="d-inline col-sm-3" >
      <div><p>number of JO's</p></div>
    </div>
    <div class="d-inline col-sm-3" style="margin-top: 50px">
      <div><span>Number of countries </span>
        <span>{{ (olympics$ | async)?.length }}</span></div>
    </div>
  </div>

<div class="card" >
  <p-chart type="pie" [data]="data" [options]="options" style="width:10rem"/>
</div>



